#attribution {
    border-top: 1px solid #999999;
}
#attribution_subcategory {
    font-weight: bold;
}
#attribution_link {
    text-decoration: none;
}
#stats {
    height: 180px;
}
#stat {
    width: 33.33%;
}
#border {
    border-bottom: 1px solid #999999;
}
#about_block1 {
    height: 350px;
    margin: 2.5% 0% 5% 0%;
}
#about_block2 {
    height: 350px;
    margin: 5% 0% 2.5% 0%;
}