/*General Styles*/
/*Apply across all webpages.*/
nav{
position: fixed;
top: 0px;
z-index: 999;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    transition: display 4s ease-in-out 2s;
}
.navix_rounded_image {
    border-radius: 3%;
}
/*NAV*/
/*The following line emphasizes that the styles are applied only when the screen size is atleast that of a small laptop.*/
@media only screen and (min-width: 992px) {
    #seperator {
        border-right: 2px solid #ffffff;
        padding: 0 10px 0 10px;
        font-weight: 500;
    }
    #last {
        padding: 0 0 0 10px;
        font-weight: 500;
    }
    #logo {
        min-height: 24px;
        min-width: 30px;
        max-height: 36px;
        max-width: 45px;
    }
    #termsandconditions_toppic {
        min-height: 24px;
        max-height: 45px;
    }
    #company {
        font-size: 28px;
        font-weight: 600;
    }
}
/*The following line emphasizes that the styles are applied only when the screen size is lesser than that of a small laptop.*/
@media only screen and (max-width: 992px) {
    #logo {
        height: 24px;
        width: 30px;
    }
    #termsandconditions_toppic {
        height: 24px;
    }
    #company {
        font-weight: 600;
    }
    #last {
        background-color: var(--bg-dark);
    }
}
#name{
    height: 24px;
    width: 70px;
}
#footer_name{
    height: 24px;
    width: 70px;
}
#tour_footer_name{
    height: 24px;
    width: 70px;
}
.bg_navix1 {
    background-color: #ffbd4a;
}
.bg_navix2 {
    background-color: #ff9249;
}
.bg_navix3 {
    background-color: #ff6647;
}
.text_navix1 {
    color: #ffbd4a;
}
.text_navix2 {
    color: #ff9249;
}
.text_navix3 {
    color: #ff6647;
}
.text_logogradient {
    color: transparent;
    background: linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -webkit-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -moz-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -ms-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -o-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
}
body {
    color: #ffffff;
    background-color: #292b2c;
}
.function_performing_link:hover {
    cursor: pointer;
}
.nav-link{
    display: block;
    padding-bottom: .25rem;
    position: relative;
}
.nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.25s ease-out;
}
.nav-link:hover::before{
    width: 100%;
}
.btn{
    border-radius: 8px;
    background-color: #ff8248;
    text-align: center;
    text-decoration: none; 
    border: none;
    color: white;
    display: block;
    
} 
.btn:hover{
    background-color:#ff6647;color:white
}

  /*Toggle Button Styles*/
  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    display: none;
  }
  
  .toggle label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292b2c;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
    /*Toggle Styles*/

  .toggle label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    /*Property below sets the color/background image of the circle when toggle is unchecked; i.e., dark mode*/
    background-image: url(../img/dark_mode_toggle.jpg);
    background-size: 100% 100%;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .toggle input:checked + label {
    background-color: #d7dee4;
  }
  
  .toggle input:checked + label:before {
    /*Property below sets the color/background image of the circle when toggle is checked; i.e., light mode*/
    background-image: url(../img/light_mode_toggle.png);
    background-size: 100% 100%;
    background-color: white;
    transform: translateX(26px);
  }
  .light-theme{
    background-color: white;
    color: black;
  }
 
/*Toggle text & the space around the button styles*/
          .toggle-text {
            margin-left: 10px;
          }
          .toggle {
            margin-left: 20px;
          }
     .toggle-text{
        color:white
     }               
  /*Light Mode/Dark Mode Styles*/

   body.light-theme{
    background-color:whitesmoke;
    color:black
   } 
   footer.light-theme{
    background-color: whitesmoke;
    color:black
   }                 
        
.dark-theme{
    background-color: #292b2c;
    color: white;
}
.main_pagetop_navbar_background {
    /*Current Background for Navbar: lighter than the dark mode background*/
    background-color: #414a4c;
    /*
    Second Favored Background for Navbar: darker than the dark mode background
    background-color: #1b1b1b;
    */
    /*
    Third Favored Background for Navbar: gradient based on logo colors
    background: linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -webkit-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -moz-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -ms-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    background: -o-linear-gradient(to right, #feca70, #fc924c, #fd401a);
    */
}

.lead{
    font-weight: 800px;
}
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5px; /* adjust height as needed */
    z-index: 9999; /* make sure the scroll indicator is on top*/
  }
  
  .scroll-progress {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #feca70, #fc924c, #fd401a);
  }
  