@media only screen and (min-width: 992px) {
    .carousel .carousel-item {
        height: 95vh;
    }
    #carouselslide {
        top: 55%;
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 992px) {
    .carousel img{
        position: static;
    }
    .carousel .carousel-item{
        height: 40%;
    }
    #carouselslide {
        top:50%;
        transform: translateY(-50%);
    }
}
#quote {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 2.5% 10% 5% 10%;
    padding: 2%;
    display: block;
}
#quote_text {
    font-size: 25px;
}
#quote_person {
    font-size: 20px;
}
#index_block1 {
    height: 320px;
    margin: 2.5% 0% 2.5% 0%;
}
#index_block2 {
    height: 320px;
    margin: 2.5% 0% 2.5% 0%;
}
#stats {
    height: 180px;
}
#stat {
    width: 33.33%;
}
#border {
    border-bottom: 1px solid #999999;
}
#cards {
    padding-top: 2%;
    border-top: 1px solid #999999;
}
#card_img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#helpful_link_1 {
    border: 3px solid #ffbd4a;
}
#helpful_link_2 {
    border: 3px solid #ff9249;
}
#helpful_link_3 {
    border: 3px solid #ff6647;
}
.btn{
    border-radius: 8px;
    background-color: #ff8248;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    display: inline-block;
} 
.btn:hover{
    background-color:#ff6647;color:white
}

 
  
