body {
    overflow-y: scroll;
    min-height: 100%;
}
#top_pic {
    display: block;
    width: 100%;
    height: 575px;
    object-fit: cover;
}
#image_text {
    top: 57%;
    transform: translateY(-50%);
}
#overview {
    height: 300px;
    border-bottom: 2px solid #999999;
}
#cost {
    height: 130px;
    border-bottom: 2px solid #999999;
}
#dates_and_schedule {
    height: 450px;
    border-bottom: 2px solid #999999;
}
#warning {
    height: 300px;
}
#sub-navbar {
    top: 0px;
    transform: translateY(56px);
}
.first_sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    transition: 1s ease position;
}
.second_sticky {
    position: fixed;
    top: 68px;
    width: 100%;
    transition: 1s ease position;
}
.tour_date {
    height: 330px;
    width: 33.33%;
    float: left;
}
#border {
    border-right: 2px solid #999999;
}