h1{text-align: center;}
article{text-align: justify;}
.works{font-size:25px}
.flexbox{display:flex;flex-direction:column}
.card-img-top{height:50%;}
figcaption{font-style: italic;}
.card-btn{border-radius: 8px;background-color: #ff8248;text-align: center;text-decoration: none; border: none;color:white;display: inline-block;}
.center{text-align: center;}

.btn{
    background-color: #ff8248;color:white
}
 
.btn:hover{
    background-color:#ff6647;color:white
}
